<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apis code express</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <h1 class="text-center">Get data from an API express server 
        <p class="btn btn-sm btn-success shadow">Nodejs</p>
    </h1>

    <a href="add.html" class="btn btn-sm btn-warning shadow">Add</a>

    <table class="table table-sm table-bordered table-striped table-hover">
        <thead class="bg-success">
            <tr>
                <th>Id</th>
                <th>username</th>
                <th>name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="body">
            <!-- Api -->
        </tbody>
    </table>

    

    <script>
        fetch("http://localhost:3000/api").then(res=>{
            res.json().then(data=>{
                
                if(data.length > 0){
                    var out = ''
                    data.forEach(user=>{
                        out += `
                        <tr>
                            <td>${user.id}</td>
                            <td>${user.name}</td>
                            <td>${user.email}</td>
                            <td>${user.phone_no}</td>
                        </tr>
                        `
                    })
                    document.getElementById('body').innerHTML = out
                }
            }).catch(err=>{
                if(err) throw err
            })
        })
    </script>
</body>
</html>